body {
  background-image: url(../more/images/37414-[Converted].jpg);
  background-size: cover;
}

h1,
h2 {
  font-family: "JaneAusten", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p {
  font-family: "Orator Std", Helvetica, sans-serif;
  font-variant: small-caps;
}

.about h1 {
  grid-area: header;
}

.about p {
  grid-area: main;
}

.about {
  grid-template-columns: auto;
  grid-template-areas:
    "header . sidebar"
    "main . sidebar";
  column-gap: 10px;
  padding-top: 100px;
}

.about img {
  max-height: 500px;
  width: auto;
  grid-area: sidebar;
  padding-top: 50px;
}

.stats {
  background-color: black;
  color: white;

  justify-content: space-between;
  text-align: center;
  padding: 30px 40px 40px 40px;
  margin: 200px 0px;
}

.stats h2 {
  font-size: 30px;
}

.about-gallery {
  justify-content: space-evenly;
  padding-bottom: 200px;
}

.about-gallery img {
  max-width: 300px;
  height: auto;
}
