@import "/css/loader.css";
@import "/css/error.css";

body {
  background: #e8e8e8;
  font-family: "Orator Std", Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

h1 {
  font-family: "JaneAusten";
  margin-top: 100px;
  margin-bottom: 10px;
  font-size: 40px;
  position: relative;
  text-align: center;
}

.results {
  margin: 50px auto 200px auto;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.card div.details {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  background: black;
}

.name {
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.image {
  height: 150px;
  background-size: cover;
  background-position: center top;
}
