@import "/css/loader.css";
@import "/css/error.css";

nav a {
  color: white;
}

h1 {
  font-family: "Orator Std", Helvetica, sans-serif;
  padding: 50px 0 0 0;
  text-align: center;
}

.wp-block-cover img {
  max-width: fit-content;
  height: auto;
}

.blog-details p {
  padding-top: 20px;
  font-family: "Orator Std", Helvetica, sans-serif;
}

.wp-block-gallery img {
  justify-content: space-between;
  max-width: 200px;
  height: auto;
}
