@import "/css/contact.css";
@import "/css/card.css";

nav a {
  color: white;
}

body {
  background-image: none;
}

h1,
h3,
p {
  font-family: "Orator Std", Helvetica, sans-serif;
  text-transform: uppercase;
}

h2,
h4,
h5 {
  font-family: "JaneAusten";
}

h2 {
  font-size: 2.3rem;
}

h3,
h4 {
  font-size: 1.9rem;
}

.welcome-home {
  background-image: url("../more/images/pexels-adi-perets-4125993.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.welcome-home-text {
  color: white;
  position: relative;
  text-align: center;
  top: 550px;
}

img {
  max-height: 500px;
  width: auto;
}

.home-blog {
  padding: 150px;
  text-align: center;
}

.home-about h1 {
  grid-area: header;
}

.home-about p {
  grid-area: main;
}

.home-about {
  grid-template-columns: auto;
  grid-template-areas:
    "header . sidebar"
    "main . sidebar";
  column-gap: 10px;
  padding-top: 100px;
  margin: 0 auto;
  padding-bottom: 150px;
}

.home-about img {
  max-height: 500px;
  width: auto;
  grid-area: sidebar;
  padding-top: 50px;
}

.home-about h5 {
  font-size: 2rem;
}

.contact-home {
  background-image: url("../more/images/pexels-element-digital-1051075.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  min-height: 100vh;
  position: relative;
  padding-bottom: 10px;
}

.contact {
  padding-top: 100px;
}

.form-error {
  background-color: white;
  border: 1px solid #790c3a;
  margin: 10px 0px;
  padding: 10px;
}
